---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About me">
     <main>
          <body>
          <h2 class="text-3xl opacity-95 mb-4">Sobre mí</h2>
          <p class="opacity-90 mb-3">
               Soy un apasionado de la programación con experiencia en el desarrollo de páginas web,
               trabajé en proyectos significativos, como la web de mi propia agencia <a href="https://disbeltoagency.netlify.app/"><span class="text-green-400">Disbelto</span></a>, construida con Astro.<br></p>
          <p class="opacity-90">   
               Mis habilidades más fuertes incluyen la capacidad de establecer relaciones efectivas con las personas y una motivación constante por aprender, tambien
               me considero una <span class="text-rose-300">persona disciplinada</span>;<br> creo firmemente en aportar un poco de mi esfuerzo cada día para alcanzar mis objetivos.<br></p>
          <p class="opacity-90 mt-3 mb-3">En el futuro, aspiro a completar una carrera universitaria en programación y mejorar mis conocimientos en lenguajes que todavia no domino.<br>
          </p>
          
          
          <h3 class="text-3xl opacity-95 mt-6 mb-4">Mi historia</h3>
          <p class="opacity-90">
               Mi interés por la programación surgió en mi infancia, cuando soñaba con <span class="text-rose-300">crear videojuegos </span> debido a que me encantaba jugarlos.<br>
               Esta pasión me llevó a estudiar  <span class="text-rose-300">informática</span>
                en una técnica donde me enamoré de las computadoras y de como funcionan, arreglar todos los problemas que pueden surgir de forma tangible.<br> En los ultimos años descubrí mi afinidad por el <span class="text-rose-300">desarrollo de software</span> y más específicamente, la creación de páginas web.<br>
          </p>
          
     </body>
     </main> 
</Layout>
   