---

---
<div id="about" view-transition-name="fade" class="about">
          <h3 class="text-3xl opacity-95 mb-4">Sobre mí</h3>
          <p class="opacity-90 mb-3">
               Soy un apasionado de la programación con experiencia en el desarrollo de páginas web en Astro, dominando el FrontEnd.</p>
          <p class="opacity-90 mt-3 mb-3">Actualmente estudio en la UNAB mi tecnicatura en programación, enfocandose en el BackEnd con herramientas como python.<br>
          </p>
          
          
</div>