---
import Layout from '../layouts/Layout.astro';
import SeccionRRSS from '../layouts/SeccionRRSS.astro';
import Principal from '../layouts/Principal.astro'
---

<Layout title="T.Tagliani">
    <main>
        <Principal/>
        <SeccionRRSS/>
    </main>
</Layout>
