---
import Layout from '../layouts/Layout.astro';
import SeccionRRSS from '../layouts/SeccionRRSS.astro';
import Principal from '../layouts/Principal.astro'
import Skills from '../layouts/Skills.astro';
---

<Layout title="T.Tagliani">
    <main>
        <Principal/>
        <SeccionRRSS/>
        <Skills/>
    </main>
</Layout>
