---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="T Tagliani">
    <main>
	<h2>Saludos! soy Tomás Tagliani</h2>
     <h1>Hago páginas web</h1>
	<h2>Soy desarrollador web, co-fundador de Disbelto Agency,</h2>
	<h3>también me gusta el SEO y el marketing digital en sí.</h3>
        
    </main>
</Layout>
