---

---
<section class="space-y-1">
      <h2 class="text-2xl md:text-3xl opacity-95">Hola! soy Tomás Tagliani</h2>
      <h1 class="text-5xl md:text-6xl lg:text-7xl font-semibold opacity-99">Hago páginas web</h1>
      <h3 class="text-xl md:text-2xl lg:text-3xl opacity-95">
        Soy desarrollador web, 
        <a href="https://disbeltoagency.netlify.app/" class="text-green-400 hover:underline">co-fundador de Disbelto Agency</a>
      </h3>
      <h4 class="text-lg md:text-xl lg:text-2xl opacity-90">
        también me gusta el 
        <span class="text-yellow-100">SEO</span> y todo lo que es el 
        <span class="text-yellow-100">marketing digital</span> en sí.
      </h4>
      <h4 class="text-xl md:text-2xl lg:text-3xl opacity-95 mt-3">Contactame</h4>
    </section>
    
    
    