---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Projects">
     <main>
          <h3 class="text-3xl opacity-95">Todavia estoy trabajando en esto! pronto los vas a ver :)</h3>
     </main>   
</Layout>
   