---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Proyectos">
     <main>
          <h3 class="text-3xl opacity-95 text-orange-300">Laura, una artista Italiana.</h3>

          <p class="text-base">Ella necesitaba mostrar su arte mas allá de una foto o de un cuadro, no tan solo hace arte a través de obras si no tambien realizando otro tipo de trabajo. Quería que se pueda ver bien reflejado todo sin necesidad de perder tamaño de fotos, o distintas formas.</p>
          <br>
          
          <h3 class="text-3xl opacity-95 text-green-400">Disbelto Web, una agencia</h3>
          
          <p class="text-base">En este caso este trabajo se realizo sobre una plantilla que era una landing page para convertirla en algo más.</p>
          <br>

          <h3 class="text-3xl opacity-95 text-blue-300">Estudio Juridico Weimer</h3>
          
          <p class="text-base">Esta web a diferencia de las demás fue realizada en Wordpress para facilitar la edicion y por un posible Blog. El abogado pidió un diseño mas futurista y conectado a sus colores.</p>
          <br>
     </main>   
</Layout>
   