---
import LinkedIn from "../icons/LinkedIn.astro"
import Github from "../icons/Github.astro"
---
<section class="relative z-10 flex flex-col mt-3 space-y-3">

  <a href="mailto:tomastagliani@gmail.com" 
     class="bg-white text-gray-800 border border-white rounded-md px-3 py-2 w-full max-w-[300px] 
     opacity-90 hover:bg-gray-100 hover:scale-105 transition-transform duration-500 ease-in-out text-center">
      tomastagliani@gmail.com
  </a>
  <div class="flex flex-wrap space-x-3">
      <a href="https://www.linkedin.com/in/tomas-tagliani" 
         class="hover:scale-105 transition-transform duration-500 ease-in-out">
          <title>LinkedIn</title>
          <LinkedIn class="size-10 opacity-90" />
      </a>
      <a href="https://github.com/Taglianini" 
         class="hover:scale-105 transition-transform duration-500 ease-in-out">
          <title>GitHub</title>
          <Github class="size-10 opacity-90" />
      </a>
  </div>