---
import LinkedIn from "../icons/LinkedIn.astro"
import Github from "../icons/Github.astro"
---

<section class="relative z-10 flex mt-3 space-x-3">
    <a href="mailto:tomastagliani@gmail.com" 
    class="bg-white text-gray-800 border border-white rounded-md px-3 opacity-90 hover:bg-gray-100 hover:scale-105 transition-transform duration-500 ease-in-out">
      tomastagliani@gmail.com
    </a>
    <a href="https://www.linkedin.com/in/tomas-tagliani" 
    class="hover:scale-105 transition-transform duration-500 ease-in-out">
        <title>LikedIn</title>
        <LinkedIn class="w-10 h-10 opacity-90">
    </a>
    <a href="https://github.com/Taglianini" 
    class="hover:scale-105 transition-transform duration-500 ease-in-out">
        <title>GitHub</title>
        <Github class="w-10 h-10 opacity-90">
    </a>
  </section>