---
import HTML from "../icons/HTML.astro"
import CSS from "../icons/CSS.astro"
import Tailwind from "../icons/Tailwind.astro"
import JS from "../icons/JS.astro"
import AstroIcon from "../icons/AstroIcon.astro"
import Figma from "../icons/Figma.astro"
import Wordpress from "../icons/Wordpress.astro"
---

<style>
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    .animate-scroll {
        animation: scroll 10s linear infinite;
        display: flex;
        width: 200%;
    }

    .group:hover .animate-scroll {
        animation-play-state: paused;
    }
</style>

<body>
    <h3 class="text-3xl opacity-95 mt-6 mb-4">Skills</h3>
    <div class="overflow-hidden group">
        <div class="flex animate-scroll space-x-7 h-20">
            <div class="w-16 h-16 flex items-center justify-center">
                <CSS class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <HTML class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <Tailwind class="w-full h-full"/>
            </div>
            <div class="w-14 h-14 flex items-center justify-center">
                <JS class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <AstroIcon class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <Figma class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <Wordpress class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <CSS class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <HTML class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <Tailwind class="w-full h-full"/>
            </div>
            <div class="w-14 h-14 flex items-center justify-center">
                <JS class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <AstroIcon class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <Figma class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <Wordpress class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <CSS class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <HTML class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <Tailwind class="w-full h-full"/>
            </div>
            <div class="w-14 h-14 flex items-center justify-center">
                <JS class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <AstroIcon class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <Figma class="w-full h-full"/>
            </div>
            <div class="w-16 h-16 flex items-center justify-center">
                <Wordpress class="w-full h-full"/>
            </div>
        </div>
    </div>
</body>

