---
import HTML from "../icons/HTML.astro"
import CSS from "../icons/CSS.astro"
import Tailwind from "../icons/Tailwind.astro"
import JS from "../icons/JS.astro"
import AstroIcon from "../icons/AstroIcon.astro"
import Figma from "../icons/Figma.astro"
import Wordpress from "../icons/Wordpress.astro"
import Notion from "../icons/Notion.astro"
---
<style>
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    .animate-scroll {
        animation: scroll 11s linear infinite;
        display: flex;
        width: 200%;
    }

    .group:hover .animate-scroll {
        animation-play-state: paused;
    }
</style>

<body>
    <h3 class="text-3xl opacity-95 mt-4 mb-4">Mis skills:</h3>
    <div class="overflow-hidden -mt-20 group">
         <div class="flex animate-scroll space-x-7">
              <CSS/>
              <HTML/>
              <Tailwind/>
              <JS/>
              <AstroIcon/>
              <Figma/>
              <Wordpress/>
              <Notion/>
              <CSS/>
              <HTML/>
              <Tailwind/>
              <JS/>
              <AstroIcon/>
              <Figma/>
              <Wordpress/>
              <Notion/>
         </div>
    </div>
</body>

