---
import SeccionRRSS from "../pages/SeccionRRSS.astro";

---
<footer class="footer">
    <div class="footer-content">
          <div class="hidden">
          <SeccionRRSS/>
          </div>
        <div>
            <p>© 2024 Tomás Tagliani.</p>
        </div>
    </div>
  </footer>
