<header class="flex justify-between items-center py-6 max-w-[1010px] mx-auto text-xl">

	<img 
		class="rounded-full object-cover"
  		style="width: 90px; height: 90px;"
	    src="/src/fotos/tagliani.jpg"
	    alt="Tagliani Foto"
	    loading="lazy"
	/>
	<meta property="Portfolio web" content="Mi portfolio web" />
	<nav class="flex space-x-7 text-white">
	<a href="/">Home</a>
	<a href="/about">About</a>
	<a href="/projects">Projects</a>
	<a href="/contact">Contact  </a>
	</nav>
	
</header>