---
import Header from '../components/Header.astro';
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">

    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Portfolio Web Tagliani" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <style is:global>

           @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Syne:wght@400..800&display=swap');
        
            :root {
                color-scheme: light dark;
            }
        
            html {
                font-family: 'Syne', sans-serif;
                scroll-behavior: smooth;
            }
        
            body {
                background: linear-gradient(to left, #252850, #18171c);
                display: flex-align;
                justify-content: center;
                font-family: 'Syne', sans-serif;
            }
            main {
                margin: auto;
                padding: 4rem;
                width: 900px;
                max-width: calc(100% - 2rem);
                color: rgb(235, 235, 235);
                font-size: 24px;
                line-height: 1.6;
            }
    .astro-a {
                position: absolute;
                top: -32px;
                left: 50%;
                transform: translatex(-50%);
                width: 220px;
                height: auto;
                z-index: -1;
            }
            h1 {
                font-size: 4rem;
                font-weight: 600;
                line-height: 1;
                text-align:left;
                margin-bottom: 40px;
            }
            h2 {
            font-size: 25px;
             font-weight: 300;
             line-height: 1;
            text-align: left;
            }
            h3 {
            font-size: 23px;
             font-weight: 300;
             line-height: 1;
            text-align: left;
            }
            .text-gradient {
                background-image: var(--accent-gradient);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 400%;
                background-position: 0%;
            }
            .instructions {
                margin-bottom: 2rem;
                border: 1px solid rgba(var(--accent-light), 25%);
                background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
                padding: 1.5rem;
                border-radius: 8px;
            }
            .instructions code {
                font-size: 0.8em;
                font-weight: bold;
                background: rgba(var(--accent-light), 12%);
                color: rgb(var(--accent-light));
                border-radius: 4px;
                padding: 0.3em 0.4em;
            }
            .instructions strong {
                color: rgb(var(--accent-light));
            }
            .link-card-grid {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
                gap: 2rem;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <Header />
        <slot />
    </body>
</html>
