---
import LinkedIn from "../icons/LinkedIn.astro"
import Github from "../icons/Github.astro"
---

<section class="flex mt-3 space-x-3">
     <a href="https://www.linkedin.com/in/tomas-tagliani">
         <title>LikedIn</title>
         <LinkedIn class="w-8 h-8 opacity-90">
         </a>
     <a href="https://github.com/Taglianini">
         <title>GitHub</title>
         <Github class="w-8 h-8 opacity-90">
         </a>
</section>