---
import HTML from "../icons/HTML.astro"
import CSS from "../icons/CSS.astro"
import Tailwind from "../icons/Tailwind.astro"
import JS from "../icons/JS.astro"
import AstroIcon from "../icons/AstroIcon.astro"
import Figma from "../icons/Figma.astro"
import Wordpress from "../icons/Wordpress.astro"
import Node from "../icons/Node.astro"
import Notion from "../icons/Notion.astro"
---
<style>
     @keyframes scroll {
         0% {
             transform: translateX(0);
         }
         100% {
             transform: translateX(-100%);
         }
     }

     .scrolling-animation {
         animation: scroll 12s linear infinite;
     }
 </style>
<body class="">
<div class="overflow-hidden w-full">
     <div class="flex scrolling-animation space-x-6">
          <CSS/>
          <HTML/>
          <Tailwind/>
          <JS/>
          <AstroIcon/>
          <Figma/>
          <Wordpress/>
          <Node/>
          <Notion/>
     </div>
     
</body>